In [2]:
import numpy as np
import pandas as pd

In [7]:
a_list= [i for i in range(1,11)]
print(a_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
s1=pd.Series(a_list)

In [9]:
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
type(s1)

pandas.core.series.Series

In [11]:
df=pd.DataFrame(s1)

In [12]:
df

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [13]:
s2=pd.Series([1,2,3,4],name="integers")

In [15]:
s3=pd.Series(['a','b','c','d'],name="alphabets")

In [19]:
df1=pd.DataFrame([s2,s3])

In [20]:
df1

           0  1  2  3
integers   1  2  3  4
alphabets  a  b  c  d

In [21]:
dict1={'a':[1,2,3],'b':[10,20,30],'c':[100,200,300]}

In [22]:
df2=pd.DataFrame(dict1)

In [23]:
df2

   a   b    c
0  1  10  100
1  2  20  200
2  3  30  300