In [ ]:
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]

Create a new list containing the squares of each number in the list.
Create a new list containing only the even numbers from the list.
Create a new list containing only the odd numbers from the list.
Create a new list containing each number from the list multiplied by 5.
Create a new list containing the square roots of each number in the list.
Create a new list containing only the numbers from the list that are greater than 5.
Create a new list containing the factorial of each number in the list.
Create a new list containing each number from the list raised to the power of 3.
Create a new list containing the reciprocal (1/n) of each number in the list.
Create a new list containing only the prime numbers from the list.


strings = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'ice cream', 'jackfruit']

Create a new list containing the length of each string in the list.
Create a new list containing only the strings from the list that start with a vowel.
Create a new list containing only the strings from the list that end with a vowel.
Create a new list containing each string from the list converted to uppercase.
Create a new list containing each string from the list converted to lowercase.

In [1]:
#Create a new list containing the squares of each number in the list.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
squares=[]
for i in numbers:
    squares.append(i**2)
print(squares)

[1, 1764, 169, 1156, 25, 676, 5476, 64, 1521, 100]

In [17]:
#Create a new list containing only the even numbers from the list.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
even_numbers=[i for i in numbers if i%2==0]
print(even_numbers)

[42, 34, 26, 74, 8, 10]

In [18]:
#Create a new list containing only the odd numbers from the list.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
odd_numbers=[i for i in numbers if i%2!=0]
print(odd_numbers)

[1, 13, 5, 39]

In [21]:
#Create a new list containing each number from the list multiplied by 5.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
multiplied_by5=[i*5 for i in numbers ]
print(multiplied_by5)

[5, 210, 65, 170, 25, 130, 370, 40, 195, 50]

In [22]:
#Create a new list containing the square roots of each number in the list.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
square_roots=[i**(1/2) for i in numbers ]
print(square_roots)

[1.0, 6.48074069840786, 3.605551275463989, 5.830951894845301, 2.23606797749979, 5.0990195135927845, 8.602325267042627, 2.8284271247461903, 6.244997998398398, 3.1622776601683795]

In [25]:
#Create a new list containing only the numbers from the list that are greater than 5.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
greater_than5=[i for i in numbers if i>5]
print(greater_than5)

[42, 13, 34, 26, 74, 8, 39, 10]

In [32]:
#Create a new list containing the factorial of each number in the list.
import math
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
factorials = list(map(lambda x: math.factorial(x), numbers))
print(factorials)

[1, 1405006117752879898543142606244511569936384000000000, 6227020800, 295232799039604140847618609643520000000, 120, 403291461126605635584000000, 330788544151938641225953028221253782145683251820934971170611926835411235700971565459250872320000000000000000, 40320, 20397882081197443358640281739902897356800000000, 3628800]

In [33]:
#Create a new list containing each number from the list raised to the power of 3.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
power_of3=[i**3 for i in numbers ]
print(power_of3)

[1, 74088, 2197, 39304, 125, 17576, 405224, 512, 59319, 1000]

In [40]:
#Create a new list containing the reciprocal (1/n) of each number in the list.
numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]

decimal_number = [1/i for i in numbers]

print(decimal_number)

[1.0, 0.023809523809523808, 0.07692307692307693, 0.029411764705882353, 0.2, 0.038461538461538464, 0.013513513513513514, 0.125, 0.02564102564102564, 0.1]

In [41]:
#Create a new list containing only the prime numbers from the list.

def prime(number):
    if number <= 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

numbers = [1, 42, 13, 34, 5, 26, 74, 8, 39, 10]
prime_numbers = [num for num in numbers if prime(num)]
print(prime_numbers)

[13, 5]

In [ ]:
strings = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'ice cream', 'jackfruit']

Create a new list containing the length of each string in the list.
Create a new list containing only the strings from the list that start with a vowel.
Create a new list containing only the strings from the list that end with a vowel.
Create a new list containing each string from the list converted to uppercase.
Create a new list containing each string from the list converted to lowercase.

In [42]:
strings = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'ice cream', 'jackfruit']
#Create a new list containing the length of each string in the list.
result=[]
for i in strings:
    result.append(len(i))
print(result)

[5, 6, 6, 4, 10, 3, 5, 8, 9, 9]

In [49]:
#Create a new list containing only the strings from the list that start with a vowel.
result=[]
vowels='AEIOUaeiou'
for i in strings:
    if i[0] in vowels:
        result.append(i)
print(result)

['apple', 'elderberry', 'ice cream']

In [50]:
#Create a new list containing only the strings from the list that end with a vowel.
result=[i for i in strings if i[-1] in vowels]
print(result)

['apple', 'banana', 'date', 'grape']

In [51]:
#Create a new list containing each string from the list converted to uppercase.
result=[i.upper() for i in strings]
print(result)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY', 'FIG', 'GRAPE', 'HONEYDEW', 'ICE CREAM', 'JACKFRUIT']

In [52]:
#Create a new list containing each string from the list converted to lowercase.
result=[i.lower() for i in strings]
print(result)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'ice cream', 'jackfruit']