In [1]:
a = {1,2,3,4,5}

In [4]:
for i in a:
    print(i)

1
2
3
4
5

In [7]:
for _  in a:
    print(_)

1
2
3
4
5

In [8]:
print(_)

5

In [15]:
for i in a:
    print(2*i)

2
4
6
8
10

In [13]:
# Take a list and print the sum of all the elements in the list
# Take a list and check if each number is even or odd
# Take this list , for each number if the number is divisible by 2 multiply it by 10 and if not multiply by 15
# increase every number in the list by adding 10 
# decrease every number by dividing it by 4
# for every number print how far is it away from the number
# add another number 554 to the list

7

In [1]:
list=[1,2,3,4,5,6]
print(sum(list))

21

In [7]:
list=[1,2,3,4,5,6]
x=0
for x in list:
    if x%2==0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even

In [8]:
x=0
for x in list:
    if x%2==0:
        print(x*10)
    else:
        print(x*15)

15
20
45
40
75
60

In [9]:
x=0
for x in list:
    print(x+10)

11
12
13
14
15
16

In [10]:
x=0
for x in list:
    print(x/4)

0.25
0.5
0.75
1.0
1.25
1.5

In [12]:
list.append(554)
print(list)

[1, 2, 3, 4, 5, 6, 554, 554]

In [14]:
x=0
for x in list:
    print(abs(x-100))

99
98
97
96
95
94
454
454

In [ ]:
1.create a string with name  s="America"
2.now make the whole str uppercase, lowercase and capital case
3.can you get the first 3  cahracters pf thes string usig sllice method
4.can you create a new str with the chaacters at the begginng and  at teh s=end uisng slice and index 
5.get the index of the character m
6.split the str into 2 based on whwere i is
#get the count of letters a
8.add naother str called united at the end
9.add another str united at the begging
10.extracyt all the charcyers whose indexes are eeven
11.gget the asci valuse of each character of str america
#get the sum of the values of all the characyers in america and tell if its even or odd
13.replace a letter a with x
14.get th second charcetre and last second char and concatenate both
15.replace char m with space and now apply the split method without giving paparmetsrs

In [15]:
s="America"
print(s)

America

In [21]:
s="America"
x=s.upper()
print(x)
y=s.lower()
print(y)
b="america"
z=b.capitalize()
print(z)

AMERICA
america
America

In [23]:
print(s[:3])

Ame

In [25]:
y=s[0:2]+s[-2:]
print(y)

Amca

In [27]:
s.index("m")

1

In [29]:
s.split("i")

['Amer', 'ca']

In [111]:
s=s.lower()
print(s.count("a"))

2

In [39]:
print(s+" united")

America united

In [40]:
print("united "+s)

united America

In [54]:

for x in range(len(s)):
    if x%2==0:
        print(s[x])

A
e
i
a

In [64]:
s="America"
for x in s:
    asciii = ord(x)
    print(x,asciii)

A 65
m 109
e 101
r 114
i 105
c 99
a 97

In [65]:
y=0
for x in s:
    print(x, ord(x))
    y += ord(x)
    print(y)
print(y)

A 65
65
m 109
174
e 101
275
r 114
389
i 105
494
c 99
593
a 97
690
690

In [117]:
y=0
for x in range(len(s)):
    print(s[x], ord(s[x]))
    y += ord(s[x])
print(y)

a 97
m 109
e 101
r 114
i 105
c 99
a 97
722

In [97]:
print(s.replace("a","x"))

Americx

In [68]:
s=s.replace("m","h")
print(s)

Aherica

In [69]:
print(s[1]+s[-2])

hc

In [74]:
#print(s.replace("h"," "))
s=s.replace("m"," ")
print(s.split(" "))
print(s.split())

['A', 'erica']
['A', 'erica']

In [75]:
print(s.split("e"))
print(s.split())

['A ', 'rica']
['A', 'erica']

In [76]:
s

'A erica'

In [13]:
#Create a fiction that takes a list and returns the sum of the all the elements except the last element. 
def my_function(result):
    list=[1,2,3,4,5,6]
    result=sum(list[0:5])
    return result
my_function(list)

15

In [90]:
n=25

In [92]:
#Create a function that returns whether the give number is even or odd
def odd_even(number):
    check=int(input())
    if check%2==0:
        return "even"
    else:
        return "odd"
odd_even(1)

2

'even'

In [46]:
#Create a function that takes in a list and returns two lists — one with even numbers and one with odd numbers from the original list.
def original_list(list):
    a_list=[1,2,3,4,5,6,7,8,9,10]
    l1 = []
    l2 = []
    for x in a_list:
        if x%2==0:
             l1.append(x)
        else:
             l2.append(x)
    print("l1:", l1)
    print("l2:", l2)
    


original_list(list)

l1: [2, 4, 6, 8, 10]
l2: [1, 3, 5, 7, 9]

In [79]:
def no_duplicates(list):
    a_list=[1,2,3,4,3,2,6,7]
    l1 = []
    
    for x in a_list:
        if x not in l1:
            l1.append(x)
     
    print("The new list is:", l1)

no_duplicates(list)

The new list is: [1, 2, 3, 4, 6, 7]

In [81]:
a_list=[1,2,3,4,3,2,6,7]
a_list.count(3)

2

In [78]:
set(a_list)

{1, 2, 3, 4, 6, 7}

In [80]:
Create a function that takes in a list and returns a list in which each element is equal to the  sum of the element and it’s index value
Create a function that takes in a list and returns a list in which each element is equal to the element and it’s index value
reate a function that takes in a list and produces a new list in which each element is equal to the element multiplied by its index value.
Create a function that takes in a list and returns a list in which each element is equal to sum of the element and it’s count value in the list
Create a function that takes in a list and returns the sum of all elements after each of them  are inverted and multiplied by 3
Create a function that takes in a list and returns the list of reminders related to  each element, when that element is divided by the 7.
Create a function that takes in a list of elements such that each element is a 2 digit number. 

 This function should  return a list with the same number of elements  but the Digits in each element are reversed 

Ex—
Input —  [23, 56] 
Returns — [32, 65]

SyntaxError: invalid syntax (591606871.py, line 1)

In [103]:
def divideby_7(given_list):
    
    result_list=[]
    for x in given_list:
         #result_list.append(x%7)
        temp_x=x%7
        result_list.append(temp_x)
    return result_list

In [104]:
divideby_7([78,56,49])

[1, 0, 0]

In [44]:
def my_function(i):
    result = []
    for x in range(len(i)):
        result.append(x*i[x])
    return result
    
a_list=[23,45,67,89,64]    
my_function(a_list)

[0, 45, 134, 267, 256]

In [41]:
def my_function(i):
    result=0
    for x in i:
        result += (1/x)*3
    return result
        
        
    
alist=[3,5,6,98]    
my_function(alist)

2.1306122448979594

In [46]:
def my_function(i):
    result=[]
    for x in range(len(i)):
        result.append(x+i[x])
    return result
alist=[4,5,7,9,10]
my_function(alist)

[4, 6, 9, 12, 14]

In [51]:
def my_function(i):
    result=[]
    for x in i:
        result.append(x+i.count(x))
    return result

alist=[4,5,7,9,5,7,10]
my_function(alist)

[5, 7, 9, 10, 7, 9, 11]

In [74]:
def my_function(i):
    result=0
    for x in str(i):   
        result += int(x)
    return result

alist=56
my_function(alist)

11

In [86]:
def my_function(x):
    result=0
    while x>0:
        temp=x%10
        result=result*10+temp
        x=x//10
    return result

my_function(56)

65

In [88]:
n=int(input())
print(str(n)[::-1])

8546
6458

In [45]:
takes a numver which returns the sum of those 2 digits 63=9

SyntaxError: invalid syntax (1721418698.py, line 1)