In [ ]:
Create a tuple with 5 numbers and then add 2 more elements at the end
Add 3 elements which are already present in the tuple
remove the duplicates ou of the whole list
get the memory location of this tuple m1
remove last element from this tuple and call it t2
get the memory location of t2
compare this with m1
iterate over the tuple and find the cube root of all the numbers in the tuple
take  alist and convert it into a tuple and then into a set and 
create another set from this set such that each element is equal to the cube of the elements of the set, 
and create a dictionary with list values as keys and cubes values from the last set as values
create a tuple with only one element and create another tuple with 3 elements and concatenate them
take a tuple and create a dictionary such that the elements in the tuples as keys and their square roots as values
Take a tuple of 6 eleemnts and create 3 tuples such that elements are consequtive elements and use slice
take a tuple and find the harmonic mean of the  min, max and len of the tuple
Take a tuple of 2 elements and assign it 2 variables and swap them
take a tuple of 3 elements and convert it into a string
take a  tuple of 4 elememts and find the sum of the indexes of 2nd and 3rd element
take a tuple of 5 elements with duplicates and find the count of 1 duplicated value
Take 2 tuples of equal lengths but of different elements and then compare whether those tupleas are equal
Take a list of 4  elements and convert into a tuple and a set
now find the memories of all the three and compare which has the highest

In [2]:
#Create a tuple with 5 numbers and then add 2 more elements at the end
this_tuple=(1,2,3,4,5)
tuple_1=(6,7)
this_tuple += tuple_1
print(this_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [12]:
#Add 3 elements which are already present in the tuple
a=list(this_tuple)
a.append(1)
print(a)
b=(1,2,3)
this_tuple += b
print(this_tuple)

[1, 2, 3, 4, 5, 6, 7, 2, 3, 2, 3, 1, 2, 3, 1, 2, 3, 1]
(1, 2, 3, 4, 5, 6, 7, 2, 3, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
#remove the duplicates ou of the whole list
c=tuple(set(this_tuple))
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [21]:
#get the memory location of this tuple m1
m1=id(c)
print(m1)

1468095609632

In [22]:
#remove last element from this tuple and call it t2
e=list(c)
e.remove(7)
print(e)

[1, 2, 3, 4, 5, 6]

In [23]:
#get the memory location of t2
m2=id(e)
print(m2)

1468142553408

In [24]:
#compare this with m1
print(m1==m2)

False

In [14]:
#iterate over the tuple and find the cube root of all the numbers in the tuple
this_tuple=(1,2,3,4,5,6)

res=[]
for x in this_tuple:
     
     res.append(x**3)

y=tuple(res)
print(y)

[1, 8, 27, 64, 125, 216]
(1, 8, 27, 64, 125, 216)

In [10]:
#take  alist and convert it into a tuple and then into a set and 
a_list=[1,2,3,4,5,6,7]
b_tuple=tuple(a_list)
print(b_tuple)
c_set=set(b_tuple)
print(c_set)

(1, 2, 3, 4, 5, 6, 7)
{1, 2, 3, 4, 5, 6, 7}

In [15]:
#create another set from this set such that each element is equal to the cube of the elements of the set, 
res=[]
for x in c_set:
     
     res.append(x**3)

y=set(res)
print(y)

{64, 1, 8, 343, 216, 27, 125}

In [17]:
#create a dictionary with list values as keys and cubes values from the last set as values
a_list=[1,2,3,4,5,6,7]
a_dict=dict(zip(a_list,y))
print(a_dict)

{1: 64, 2: 1, 3: 8, 4: 343, 5: 216, 6: 27, 7: 125}

In [20]:
#create a tuple with only one element and create another tuple with 3 elements and concatenate them
b_tuple=(1,)
c_tuple=(4,2,3)
b_tuple += c_tuple
print(b_tuple)

(1, 4, 2, 3)

In [21]:
#take a tuple and create a dictionary such that the elements in the tuples as keys and their square roots as values
a_tuple=(2,3,4,5,6,7)
res=[]
for x in a_tuple:
    res.append(x**2)
y=tuple(res)
z=dict(zip(a_tuple,y))
print(z)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [29]:
#Take a tuple of 6 eleemnts and create 3 tuples such that elements are consequtive elements and use slice
a_tuple=(1,2,3,4,5,6,7)
s=slice(0,3)
print(a_tuple[s])
s=slice(3,5)
print(a_tuple[s])
s=slice(5,7)
print(a_tuple[s])

(1, 2, 3)
(4, 5)
(6, 7)

In [33]:
#take a tuple and find the harmonic mean of the  min, max and len of the tuple
length=len(a_tuple)
minimum=min(a_tuple)
maximum=max(a_tuple)
harmonic_mean=2*length*minimum*maximum/(length+minimum+maximum)
print(harmonic_mean)

6.533333333333333

In [35]:
#Take a tuple of 2 elements and assign it 2 variables and swap them
a=(9,0)
b=(8,7)
print(a,b)
a,b=b,a
print(a,b)

(9, 0) (8, 7)
(8, 7) (9, 0)

In [37]:
#take a tuple of 3 elements and convert it into a string
tuple_1=("b","a","d","a","p","p")
s=''.join(tuple_1)
print(s)

badapp

In [38]:
#take a  tuple of 4 elememts and find the sum of the indexes of 2nd and 3rd element
tuple_2=(4,5,6,7)
c=tuple_2[1]+tuple_2[2]
print(c)

11

In [40]:
#take a tuple of 5 elements with duplicates and find the count of 1 duplicated value
tuple_2=(9,9,0,1,2,1)
s=tuple_2.count(9)
print(s)

2

In [42]:
#Take 2 tuples of equal lengths but of different elements and then compare whether those tupleas are equal
tuple_3=(6,7,8)
tuple_4=(3,4,5)
a=len(tuple_3)
b=len(tuple_4)
print(a==b)
print(tuple_3==tuple_4)

True
False

In [44]:
#Take a list of 4  elements and convert into a tuple and a set
list1=[1,2,3,4]
tuple1=tuple(list1)
print(tuple1)
set1=set(list1)
print(set1)

(1, 2, 3, 4)
{1, 2, 3, 4}

In [49]:
#now find the memories of all the three and compare which has the highest
l=id(list1)
print(l)
s=id(set1)
print(s)
t=id(tuple1)
print(t)
list1=[l,s,t]
def max_function(list1):
    return max(list1)
max_function(list1)

2136353734976
2136354349120
2136353985296

2136354349120