In [ ]:
Write a function

That takes in a list of numbers and concatenate all those numbers in a string
Take a 3 didgit number and reverse it without using math operations
Take a string called apple and reverse it 
Take a string called Austin and create a list of ascii values of each charcter in Austin
Check which of those numbers are divisible by 3 and 5
get the sum of all those numbers
that takes in a list of numbers and raise every number to the power of its coressponding index
get the product of the first and last numbers 
check if this product is even or odd
take a list of 5 numbers and create another list of multiples of 7 of this list
use zip command to create another list such that each element is equal to the multiple of the above 2 lists
divide every number in this list with 7 and get the sum of all those remainders

In [8]:
#Write a function that takes in a list of numbers and concatenate all those numbers in a string
def string(number):
   
        
    string1 = ''.join(str(num) for num in number)
    return string1
numbers = [1, 2, 3, 4, 5]
result = string(numbers)
print(result)

12345

In [11]:
#Take a 3 didgit number and reverse it without using math operations
d=345

e=str(d)
f=e[::-1]
g=int(f)
print(g)

543

In [12]:
#Take a string called apple and reverse it 
s="apple"
h=s[::-1]
print(h)

elppa

In [19]:
#Take a string called Austin and create a list of ascii values of each charcter in Austin
d="Austin"
result=[]
for i in d:
    e=ord(i)
    result.append(e)
print(result)

[65, 117, 115, 116, 105, 110]

In [20]:
#Check which of those numbers are divisible by 3 and 5
for i in result:
    if i%3==0 and i%5==0:
        print(i)

105

In [23]:
#get the sum of all those numbers
d=105
e=str(d)
f=0
for i in e:
    f+=int(i)
print(f)

6

In [36]:
#that takes in a list of numbers and raise every number to the power of its coressponding index
def raise_(numbers):
        power=[]
        for i in range(len(numbers)):
            result=1
            for j in range(i):
                result *= numbers[i] 
            power.append(result)
        return power

numbers1 = [2, 3, 4, 5]
result = raise_(numbers1)
print(result)

[1, 3, 16, 125]

In [43]:
#get the product of the first and last numbers
def product(numbers):
    product1 = numbers[0] * numbers[-1]
    return product1

numbers1 = [2, 3, 4, 5]
result = product(numbers1)
print(result)

10

In [48]:
#check if this product is even or odd
def function(product):
    if product % 2 == 0:
        return "Even"
    else:
        return "Odd"
product = 20
result = function(product)
print(result)

Even

In [55]:
#take a list of 5 numbers and create another list of multiples of 7 of this list
def multiple_7(a):
    multiples = [num for num in a if num % 7 == 0]
    return multiples
numbers1 = [27, 49, 42, 56]
result1 = multiple_7(numbers1)
print(result1)

[49, 42, 56]

In [57]:
#use zip command to create another list such that each element is equal to the multiple of the above 2 lists
def multiples_list(list1,list2):
        multiples=[num1*num2 for num1,num2 in zip(list1,list2)]
        return multiples
numbers1 = [27, 49, 42, 56]
result=[49, 42, 56]
res=multiples_list(numbers1,result)
print(res)

[1323, 2058, 2352]

In [64]:
#divide every number in this list with 7 and get the sum of all those remainders
def sum_7(numbers):
    remainders = [num % 7 for num in numbers]
    sum_7 = sum(remainders)
    return sum_7
res=[1323, 2058, 2352]
d=sum_7(res)
print(d)

0